/* Cards */

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 315px;
    max-width: 550px;
    padding: 7px;
    border-radius: 25px;
    box-shadow: 1px 1px 12px #0000001d;
    background-color: #fff;
    overflow: hidden;
}

.card-content {
    padding: 5px 15px;
}

.card-title, .card-detail, .card-rating {
    margin: 6px 0;
}

.card-rating {
    color: var(--primary-color);
    font-size: 12.5px;
}

.gray {
    color: var(--background-color);
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-content: space-around;
}

.row {
    flex-direction: row;
}

.cover {
    object-fit: cover;
    overflow: hidden;
}

.cover-side {
    object-fit: cover;
    height: 190px;
    min-width: 44%;
    max-width: 44%;
}

.h-full {
    height: 100%;
}

.mw-45 {
    max-width: 45%;
}

/* Flex variations */

.f-main {
    flex: 2 0 800px;
}

.f-aside {
    flex: 1 1 450px;
}

.f-long {
    flex: 1 0 500px;
}

.f-short {
    flex: 1 1 200px;
    max-height: calc(50% - 20px);
}

@media screen and (max-width: 992px) {
    .ms-w-full {
        width: 100vw;
    }

    .ms-no-v-m {
        margin: 0 -50px;
        border-radius: 0;
    }

    .ms-bg-white {
        background-color: #fff;
    }

    .ms-wrap {
        flex-wrap: wrap;
    }

    .f-main {
        flex: 1 1 800px;
    }
}

@media screen and (max-width: 768px) {
    .card-group {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
    }

    .cover-side{
        height: 135px;
    }

    .card-content h3 {
        font-size: 16px;
    }

    .card-content p {
        font-size: 14px;
    }

    .ms-no-v-m {
        margin: 0 -20px;
        padding: 40px 20px;
        border-radius: 0;
    }

    .ss-f-short {
        flex: 1 1 315px;
        max-width: none;
    }

    .ss-f-short img {
        height: 160px;
    }
}